.advantages {

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
  }

  &__header {
    margin: 40px 0px;
  }

  &__container {
    display: flex;
    max-width: 470px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &__img {
    width: 100px;
    height: 100px;
  }

  &__info {
    padding-left: 20px;
  }

  &__title {
    font-size: 22px;
    line-height: 1.35;
    margin: 0;
    padding-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
  }
}

@media (max-width: 480px) {
  .advantages {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
      align-items: flex-start;
    }
  }
}

@media (max-width: 400px) {
  .advantages {
    &__img {
      width: 80px;
      height: 80px;
    }
    &__title {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        word-break: break-word;
    }
  }
}